@import url('https://fonts.googleapis.com/css?family=Roboto:300');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url("./images/Trees_1920x1234.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}



a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
}

.mainHeader {
  display: flex;
  padding: 5px;
  width: 100%;
  justify-content: space-between;
}

.mainNav {
  font-size: 65px;
  color: white;
  margin-top: 24vh;
  border-top: 1px outset rgba(0, 0, 0, 0.5);
  border-bottom: 1px outset rgba(0, 0, 0, 0.5);
  min-width: 680px;
}

.mainNav iframe {
  float: right;
  margin-top: 23px;
}

.mainNav li {
  background-color: rgba(0, 0, 0, 0.5);
  list-style: none;
}

.mainNav li:hover {
  background-color: rgba(46, 255, 0, 0.5);
  /*background-color: rgba(255, 0, 140, 0.5);*/
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('./images/Trees_1920x1234.png') no-repeat;
    background-size: cover;
}

#headshot {
  border: 1px outset grey;
  border-radius: 100%;
  margin: 5px;
  float: right;
}
