@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Aldrich');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: 'Special Elite', cursive;*/
  /*font-family: 'Aldrich', sans-serif;*/
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Roboto', sans-serif;
  user-select: none;

  /*font-family: 'Play', sans-serif;*/
}

body {
  /*background-color: #000000;*/
  width: 100%;
  height: 100%;
  background-color: rgb(22, 22, 21);
  /*background-color: rgb(16, 51, 50);*/
  /*background-image: url('images/cool.jpg');*/
  /*background-size: cover;*/
  /*background-position: left;*/
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
}

#top-left {
  color: rgb(0, 255, 161);
}
#top-left:hover {
  color: white;
}

.mainFlex {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 350px;

}

.mainFlex a {
  /*margin-left: 1em;*/
  color: #00ff3f
}

.downloads {
  margin-left: 0.5em;
  cursor: default;
}

.downloads, .downloads a {
  color: rgb(0, 255, 161);
}

.downloads a:hover {
  color: white;
}

.mainHeader {
  margin-left: 1em;
  display: flex;
  flex-flow: column wrap;
  /*flex: auto;*/
  /*padding: 5px;*/
  /*width: 100%;*/
  justify-content: space-between;
}

.tech {
  color: white;
  font-size: 12px;
  white-space: nowrap;
  float: right;
  user-select: none;
  cursor: default;
  /*align-self: flex-end;*/
}
.mainNav {
  margin-top: 0.5em;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  background-color: rgba(15, 40, 31, 0.5);
  font-size: 25px;
  display: flex;
  flex-flow: row;
  /*margin-top: 225px;*/
  /*border-top: 1px outset rgba(0, 0, 0, 0.5);*/
  /*border-bottom: 1px outset rgba(0, 0, 0, 0.5);*/
  min-width: 620px;
}

.githubIcon {
  height: 25px;
  float: right;
  width: 70px;
}

/*.mainNav ul {
  flex: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin-left: 1em;
}*/

.mainNav div {
  flex: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-self: stretch;
  /*margin-left: 1em;*/
}

.projects > div {
  flex: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 1em;
}

.projects > div:hover {
  background-color: rgba(255, 0, 80, 0.3);
}

.githubDiv {
  height: 100%;
  /*margin-right: 1em;*/
  /*background: green;*/
  background: rgba(47, 61, 48, 0.5);
  padding: 7px;
}

.githubDiv:hover {
  background: rgba(0, 255, 161, 0.3);
}

.appLink {
  color: rgb(0, 255, 161);
  /*border: 1px solid white;*/
}
.appLink:hover {
  color: white;
}

#headshot {
  border: 1px outset grey;
  border-radius: 100%;
  margin: 5px;
  float: left;
}

@media screen and (min-width: 0px) and (max-width: 1200px) {
  .tech { display: none; }  /* show it on small screens */
}
